<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productUpdate.css">
    <%- include('../partials/linksComunes.ejs') %>

    <title>Fuerza y Disciplina</title>
</head>
<body>
    
        <%- include('../partials/header.ejs') %>

        <main>
            <h2> Edita el producto </h2>
            <div>
                <form action="/product/detail/<%= product.id %>?_method=put" method="post" enctype="multipart/form-data">
                    <div>
                        <div>
                            <label class = 'label' for="name">Nombre del producto:</label>
                            <input class = 'input' type="text" id="name" name="name" placeholder="Ej: Mancuernas de 5 libras"
                                value="<%= product.name %>">
                                <% if (errors && errors.name){ %>
                                    <%= errors.name.msg %>
                                  <%}%>
                        </div>
                        <div>
                            <label class = 'label' for="price">Precio del producto:</label>
                            <input class = 'input' type="text" id="price" name="price" placeholder="Ej: 1000"
                                value="<%= product.price %>">
                                <% if (errors && errors.price){ %>
                                    <%= errors.price.msg %>
                                  <%}%>
                        </div>
                        <div>
                            <label class = 'label' for="category">Categoría:</label>
                            <select class = 'input' name="category" id="category">
                                <option value="">Elegí</option>
                                <% categories.forEach(category => { %>
                                    <option value="<%= category.id %>"><%= category.name %></option>
                                    <% }); %>
                            </select>
                            <% if (errors && errors.category){ %>
                                <%= errors.category.msg %>
                              <%}%>
                        </div>
                        <div>
                            <label class ='label' for="stock">Stock:</label>
                            <input type="number" id="stock" name="stock" pattern="\d*" oninput="validarNumero(this)">
                            <% if (errors && errors.stock){ %>
                              <%= errors.stock.msg %>
                            <%}%>
                      </div>
                        <div>
                            <label class = 'label' for="description">Descipción:</label>
                            <textarea class = 'input' name="description" id="description"> <%= product.description %> </textarea>
                            <% if (errors && errors.description){ %>
                                <%= errors.description.msg %>
                              <%}%>
                        </div>
                        <h3>Carga la imagen del producto</h3>
                            <input class = 'input' type="file" id="archivo" name="archivo">
                            <% if (multerProductEdit){ %>
                                <%= multerProductEdit %>
                              <%}%>
                            <br>
                        <div class = 'last-div'>
                            <button type="submit">Guardar producto</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    
        <%- include('../partials/footer.ejs') %>

</body>
</html>