<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('../partials/linksComunes.ejs') %>
    <link rel="stylesheet" href="/css/productCart.css">
    <script src="/js/cart.js" defer></script>

    <title>Carrito de compras</title>
</head>
<body>

    <%- include('../partials/header.ejs') %>

    <main>      
    <h2 class="carrito__titulo">Carrito de compras</h2>
    
    <form action="" class="formulario__tabla">
        <table>
            <% if (product) { %>
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Valor total</th>
                    </tr>
                </thead>
                <tbody>
                    <% product.forEach((item, index) => { %>
                        <tr>
                            <td>
                                <img src="/images/products/<%= item.image %>" alt="product image" class="img-c" />
                            </td>
                            <td>
                                <%= item.name %>
                            </td>
                            <td class="price">
                                $<%= item.price %>
                            </td>
                            <td>
                                <label>
                                    Cantidad:
                                    <input data-index="<%= index %>" type="number" value="1" min="1" class="cantidad">
                                </label>
                            </td>
                            <td class="total-carrito">
                                $<%= item.price %>
                            </td>
                        </tr>
                        <% }) %>
                    
                    <td class = 'total'>
                        Elija cantidad para calcular el valor.
                        <%}%>
                    </td>
                </tbody>
            </table>
            <ul id="lista-carrito"></ul>
        <button type="submit" class="tabla__buttonPagar">Ir a Pagar</button>
      </form>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>