<div>
    <section>
        <a href="/product/<%= product.id %>">
            <figure>
                <img src="/images/products/<%= product.image %>" alt="imagen de producto <%= product.name %>">
            </figure>
            <article>
                <h2><%= product.price></h2>
                <p><%= product.name %></p>
            </article>
        </a>
    </section>
</div>