<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script src="/js/registerValidations.js" defer></script> -->
    <script src="/js/showPassword.js" defer></script>

    <%- include('../partials/linksComunes.ejs') %>

    <title>Fuerza y Disciplina</title>
  </head>

  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <h2 class="title">Registrese aqui</h2>
      <form action="/users/register" method="post" enctype="multipart/form-data" id="form">

        <br />
        <label for="role">Tu rol será:</label>
        <select class="name" name="role" id="roles">
          <option value="">Elegir</option>
        <% roles.forEach(roles => { %>
            <option value="<%= roles.id %>"><%= roles.name %></option>
        <% }); %>
        </select>
        <% if (errorNameRegister && errorNameRegister.role && errorNameRegister.role.msg) { %>
          <%= errorNameRegister.role.msg %>
        <% }  %>
        <span class="errorMsg" id="rolesError"></span>
        
        <br />

        <input
          class="name"
          type="text"
          id="nombre"
          name="nombre"
          placeholder="Nombres y apellidos"
        />
        <% if (errorNameRegister && errorNameRegister.nombre && errorNameRegister.nombre.msg) { %>
          <%= errorNameRegister.nombre.msg %>
        <% }  %>
        <span class="errorMsg" id="nombreError"></span>
        <br />
        <input
          class="user"
          type="text"
          id="usuario"
          name="usuario"
          placeholder="Nombre del usuario"
        />
        <% if (errorNameRegister && errorNameRegister.usuario && errorNameRegister.usuario.msg) { %>
          <%= errorNameRegister.usuario.msg %>
        <% }  %>
        <span class="errorMsg" id="usuarioError"></span>
        <br />
        <input
          class="correo"
          type="text"
          id="email"
          name="correo"
          placeholder="E-mail"
          
        />
        <% if (errorNameRegister && errorNameRegister.correo && errorNameRegister.correo.msg) { %>
          <%= errorNameRegister.correo.msg %>
        <% }  %>
        <span class="errorMsg" id="emailError"></span>
        <br />
        <input
          class="password"
          type="password"
          id="password"
          name="contra"
          placeholder="Contraseña"
          
        />
        <% if (errorNameRegister && errorNameRegister.contra && errorNameRegister.contra.msg) { %>
          <%= errorNameRegister.contra.msg %>
        <% }  %>
        <span class="errorMsg" id="passwordError"></span>
        <button class ='name' id="toggleButton">Mostrar/Ocultar</button>
        <br />
        <input
          class="direccion"
          type="text"
          id="addres"
          name="direccion"
          placeholder="Direccion"
          
        />
        <% if (errorNameRegister && errorNameRegister.direccion && errorNameRegister.direccion.msg) { %>
          <%= errorNameRegister.direccion.msg %>
        <% }  %>
        <span class="errorMsg" id="addresError"></span>
        <br />
        <input
          class="pais"
          type="text"
          id="country"
          name="pais"
          placeholder="Pais"
          
        />
        <% if (errorNameRegister && errorNameRegister.pais && errorNameRegister.pais.msg) { %>
          <%= errorNameRegister.pais.msg %>
        <% }  %>
        <span class="errorMsg" id="countryError"></span>
        <br />
        <input
          class="city"
          type="text"
          id="city"
          name="city"
          placeholder="Ciudad"
          
        />
        <% if (errorNameRegister && errorNameRegister.city && errorNameRegister.city.msg) { %>
          <%= errorNameRegister.city.msg %>
        <% }  %>
        <span class="errorMsg" id="cityError"></span>
        <br />
        <h3>Carga tu foto de usuario</h3>
        <input class="file" type="file" id="archivo" name="archivo" />
        <br />
        <div><button class="send" type="submit">Enviar</button></div>
        <br />
        <input class="erase" type="reset" value="Borrar" />
      </form>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
